:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  align-items: center; 

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
td, th {
    text-align: center;
    vertical-align: middle;
    height: 10px; /* Optional: adds height to demonstrate vertical alignment */
  }
div {
  padding-left: 20px; /* Specifies padding as a fixed value in pixels */
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;  align-items: center; 
}
a:hover {
  color: #535bf2;
    align-items: center; 
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
    align-items: center; 
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
    align-items: center; 
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
    align-items: center; 
}
button:hover {
  border-color: #646cff;
    align-items: center; 
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
    align-items: center; 
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
      align-items: center; 
  }
  a:hover {
    color: #747bff;
      align-items: center; 
  }
  button {
    background-color: #f9f9f9;
      align-items: center; 
  }
}
